/* CSS Variables */
:root {
  --primary-color: #f2e0e0;
  --primary-text-color: rgb(86, 16, 151);
  --secondary-text-color: rgb(45, 7, 80);
}

/* 
*******************
Common Styles 
*******************
*/
/* .container{
  padding: 0;
} */


/* 
*******************
Common Styles 
*******************
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-color {
  background-color: var(--primary-color) !important;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  background-color: var(--primary-text-color) !important;
}

.circle-50 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.circle-150 {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

/* Margin & Padding */
.p-tb {
  padding-top: 100px;
  padding-bottom: 100px;
}

.p-t {
  padding-top: 100px;
}

.p-b {
  padding-bottom: 100px;
}

@media screen and (max-width:991px) {
  .p-tb{
      padding-top: 50px;
      padding-bottom: 50px;
  }

  .p-t {
    padding-top: 50px;
  }
  
  .p-b {
    padding-bottom: 50px;
  }
} 

/* 
*******************
Header
*******************
*/
.logo {
  color: var(--primary-text-color);
}

@media screen and (max-width: 560px) {
  .navbar {
    padding: 15px 0px;
    border-bottom: 1px solid #cccccc81;
  }

  .navabr ul {
    margin-top: 15px !important;
  }

  .navbar ul li:hover {
    background-color: #e3e3e3;
    border-radius: 5px;
  }
}

@media screen and (max-width:1400px) {
  .navbar ul li a{
    margin: 0 12px !important;
  }

  .navbar .signUp,
  .navbar .login{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

/* 
*******************
Hero Section
*******************
*/

.hero .left .hero__heading {
  font-size: 70px !important;
  color: var(--secondary-text-color) !important;
}

.hero .right .img-container {
  height: 700px;
  z-index: 12;
}

.hero .right .img-container img {
  height: 100%;
  object-fit: cover;
}

.hero .right .circle-1 {
  background-color: var(--primary-text-color) !important;
  position: absolute;
  top: 330px;
  right: 0;
}

.hero .right .circle-2 {
  background-color: var(--primary-text-color) !important;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.hero .right .circle-3 {
  background-color: var(--primary-text-color) !important;
  position: absolute;
  top: 8%;
  left: 0;
}

.hero .right .rectangle-box-md {
  width: 280px;
  height: 100px;
  position: absolute;
  top: 30%;
  left: 10%;
}

.hero .right .rectangle-box-sm {
  width: 180px;
  height: 150px;
  position: absolute;
  top: 30%;
  left: 10%;
}

.hero .right .rectangle-box-md .circle-50-1,
.hero .right .rectangle-box-sm .circle-50-1 {
  width: 70px;
  height: 70px;
  background-color: var(--primary-text-color) !important;
  margin-left: 10px;
  position: relative;
  margin-right: 14px;
}


@media screen and (max-width: 560px) {
  .hero .right {
    display: none !important;
  }
}

@media screen and (max-width:576px) {
  .hero .right .rectangle-box-md{
    display: none !important;
  }
}

@media screen and (max-width:991px) {
  
  .hero .row {
    flex-direction: column !important;
  }

  .hero .left {
    width: 100% !important;
  }

  .hero .right {
    width: 100% !important;
    display: flex;
    align-self: center;
  }
  
  .hero .right .rectangle-box-md{
    top: 15%;
    left: 0;
  }

  .hero .right .img-container {
    margin: auto;
  }
} 
/* 
*******************
what we provide section
*******************
*/

.what-we-provide .upper .heading {
  font-size: 65px;
  color: var(--secondary-text-color);
}

.what-we-provide .mid .box__icon {
  width: 100px;
  height: 100px;
}

.what-we-provide .mid .box__text {
  color: var(--secondary-text-color);
}

.what-we-provide .lower .left {
  min-height: 530px;
}

.what-we-provide .lower .left .box-1,
.what-we-provide .lower .left .box-2 {
  width: 520px;
  height: 530px;
  position: absolute;
}

.what-we-provide .lower .left .box-1 {
  background-color: rgb(145, 141, 244);
}

.what-we-provide .lower .left .box-2 {
  margin-top: -30px;
  margin-left: 30px;
  background-color: #c8f4f8;
}

.what-we-provide .lower .left .text__box1 {
  width: 100%;
  height: 170px;
  position: absolute;
  top: 60px;
  left: 4%;
  box-shadow: 0 0 20px -16px black;
}

.what-we-provide .lower .left .text__box2 {
  width: 100%;
  height: 170px;
  position: absolute;
  top: 270px;
  box-shadow: 0 0 20px -16px black;
}

.what-we-provide .lower .left .text__box1 .rounded-circle,
.what-we-provide .lower .left .text__box2 .rounded-circle {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.what-we-provide .lower .left .img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top left;
}

.what-we-provide .lower .left .text__box1 .text__box__heading,
.what-we-provide .lower .left .text__box2 .text__box__heading {
  color: var(--secondary-text-color);
}

.what-we-provide .lower .left .box__heading {
  color: var(--secondary-text-color);
}

@media screen and (max-width: 560px) {
  .what-we-provide .lower .row {
    flex-direction: column !important;
  }

  .what-we-provide .lower .left {
    padding: 0 !important;
    width: 80% !important;
    align-self: center;
  }

  .what-we-provide .lower .right {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .what-we-provide .lower .left .box-1,
  .what-we-provide .lower .left .box-2 {
    width: 100% !important;
    height: 530px !important;
  }
}

@media screen and (max-width:991px) {
  .what-we-provide .lower .left{
    align-self: start !important;
  }

  .what-we-provide .lower .right .box__heading,
  .what-we-provide .lower .right .box__text,
  .what-we-provide .lower .right .myBtn{
    margin-left: 0 !important;
  }

  .what-we-provide .lower .row {
    flex-direction: column !important;
  }

  .what-we-provide .lower .left {
    width: 80% !important;
    align-self: center;
  }

  .what-we-provide .lower .right {
    width: 100% !important;
    margin: 0 !important;
  }

  .what-we-provide .lower .left,
  .what-we-provide .lower .right{
    padding: 0 15px !important;
  } 

  .what-we-provide .lower .left .box-1,
  .what-we-provide .lower .left .box-2 {
    width: 100% !important;
    height: 530px !important;
  }
}


@media screen and (min-width: 1024px) {
  .what-we-provide .lower .row {
    flex-direction: row !important;
  }

  .what-we-provide .lower .left {
    width: 40% !important;
    align-self: center;
  }

  .what-we-provide .lower .right {
    margin: 0 !important;
    padding: 20px 0 20px 100px !important;
  }

  .what-we-provide .lower .left .box-1,
  .what-we-provide .lower .left .box-2 {
    width: 100% !important;
    height: 530px !important;
  }
}

/* 
*******************
Popular courses section
*******************
*/

.popular-courses .upper .main__heading {
  color: var(--secondary-text-color);
}

.popular-courses .upper .link a {
  color: var(--primary-text-color) !important;
}

.popular-courses .lower .card-img {
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.popular-courses .lower .card-img img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

.popular-courses .lower .card-text {
  width: 80%;
  position: absolute;
  bottom: -25%;
  right: 6%;
  box-shadow: 0 0 20px -16px black;
}

.popular-courses .lower .card-text .price,
.popular-courses .lower .card-text .heading {
  color: var(--secondary-text-color);
}

.popular-courses .lower .card{
  margin: 75px 0 !important;
  border: none !important;

}

/* 
*******************
newsletter section
*******************
 */

.newsletter {
  margin-top: 250px;
}

.newsletter .heading {
  color: var(--secondary-text-color);
}

.newsletter .input__container {
  margin: 60px 0;
  width: 80%;
  height: 10%;
  position: relative;
}

.newsletter .input__container input {
  padding: 40px 40px;
  width: 80%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.newsletter .button__container {
  height: 100%;
  position: absolute;
  right: 0;
}

.newsletter .button__container .button {
  height: 100%;
}

@media screen and (max-width: 560px) {
  .newsletter .input__container {
    display: flex !;
    flex-direction: column;
  }

  .newsletter .input__container input {
    width: 100% !important;
    padding: 26px 20px;
  }

  .newsletter .button__container {
    position: unset !important;
    margin: 12px 0px 0px 0px !important;
  }

  .newsletter .button__container .button {
    padding: 16px 20px !important;
  }
}

@media screen and (max-width: 767px) {
  .newsletter .input__container {
    margin: 0 !important;
    width: 100% !important;
  }

  .newsletter .input__container input {
    width: 100% !important;
    padding: 26px 20px;
  }
}

/* 
************************
Footer Section
************************
*/

.footer__section {
  min-height: 100%;
  padding-top: 123px;
}

.footer__section .main__heading {
  color: var(--primary-text-color);
}

.footer__section .heading {
  color: var(--secondary-text-color);
}

.footer__section .links {
  list-style: none;
}

.footer__section .link__social {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color) !important;
  margin: auto 0;
}

.footer__section .copyright {
  margin: 100px;
}